<footer class="footer section text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="copyright-text">Copyright &copy;2022, Designed &amp; Developed by <a href="/">GROUP EIGHT</a></p>
			</div>
		</div>
	</div>
</footer>