<div class="container">
    <h1>PRIVACY POLICY</h1>
<p >At  a bookstore, we take your privacy very seriously. This Privacy Policy describes the type of information we may collect from you or you may provide to us when you visit our website at www.bookmart.com (our “Website”) or purchase our products. This Privacy Policy also explains our practices for collecting, using, maintaining, protecting and disclosing such data, which may include, but not limited to personal data (your “Data”).

By accessing or using our Website, you agree to the terms of this Privacy Policy, including but not limited to our collection and processing of your Data. If you do not agree to the terms of this privacy policy, do not access our website.
</p>
<p>
    <ul>
        <li>
           <p> 1.  The identity and the contact details of the data controller

For services and websites used by residents of the European Economic Area, {pages} a bookstore is the data controller responsible for your personal data. For more information please contact us at info@pagesabookstore.com.</p>
        </li>
        <li>
           <p> 2.  Data we collect and process
When you visit our Website, and make a purchase or attempt to make a purchase through our Website, we also collect certain information from you, including your name, billing address, shipping address, payment information (such as credit card numbers), email address, and phone number. 

We will only collect and process Data about you where we have a lawful basis. Lawful bases include where you have given consent, where processing is necessary for the delivery of product you have ordered through our Website and other “legitimate interests.” Where we rely on your consent to process Data, you have the right to withdraw or decline your consent at any time and where we rely on legitimate interests, you have the right to object. (See more in Section 3.)</p>

        </li>
        <li>
           <p> 3.  What we do with your data

The Data we collect from customers is used to fulfill orders placed through our Website, which includes the processing of payment information, preparing orders for shipment, and providing order confirmations and other order-related communication. In addition, we’ll use Data from your visit to our Website to improve and optimize the customer experience, to screen for potential risk and fraud, to provide the most relevant advertisements and email communications to you, and to assess the success of our current marketing and advertising campaigns. In accordance with the General Data Protection Regulations (GDPR), we are considered a “controller” of Data and we may engage third party “processors” of Data.<br><br><br></p>

        </li>
    </ul>
</div>